@charset "utf-8";
/* CSS Document */
body, html {
	height: 100%;
	background-color: #CCC;
}
.leftcontent {
	width: 220px;
	max-width: 220px;
	min-width: 220px;
	float: left;
	height: 100%;
	padding: 0 10px;
	padding-top: 10px;
	background: url(../images/sidebar.png) repeat-y top center;
	background-size: cover;
}
.leftnav {
	margin-left: -27px;
	margin-right: -27px;
}
.leftnav > li > a {
	border-radius: 0;
}
.leftnav > li > a:hover {
	background-color: #2a9fd6;
}
.rightcontent {
	width: calc(100% - 220px);
	float: left;
	height: 100%;
}